In [31]:
import pandas as pd
from datetime import datetime
from helpers import *

map_id_to_date = {
    0:  datetime(2020, 8 , 4, 0, 0, 0 ),
    1:  datetime(2020, 9 , 17, 0, 0, 0 ),
    2:  datetime(2020, 10 , 14, 0, 0, 0 ),
    3:  datetime(2020, 10 , 17, 0, 0, 0 ),
    4:  datetime(2020, 10 , 27, 0, 0, 0 )
}

In [32]:
  F1 =  "Arce.csv"
  F2 =  "Camacho.csv"
  F3 =  "Carlos_Mesa.csv"
  F4 = "ads_library_data.csv"
  DATA_FRAME_ADS_LIBRARY = read_fb_ads_lib_data(file_input = F4)
  DATA_FRAME = read_fb_data(file_1 = F1, file_2 = F2, file_3 = F3)
  df_likes = create_reactions_df(map_id_to_date[0], map_id_to_date[1], kind="Likes", df_input = DATA_FRAME)

In [33]:
    t_start = map_id_to_date[0]
    t_end = map_id_to_date[4]

    # Create timeseries index
    df_raw_timed = create_timestamp_indexes(DATA_FRAME_ADS_LIBRARY,
                                            column="ad_delivery_start_time",
                                            format_date="%Y-%m-%d")

    # Split the data by  time invervals
    df_timed_splited = create_time_splits(df=df_raw_timed,
                                          t_start=t_start,
                                          t_end=t_end)
    df_timed_splited
    # luchoxmipais = df_timed_splited["page_name"] == "Lucho x mi pa√≠s"
    # luchoxmipais

,ad_id,page_id,page_name,ad_snapshot_url,ad_creative_body,ad_creative_link_caption,ad_creative_link_description,ad_creative_link_title,ad_delivery_start_time,ad_delivery_stop_time,...,impressions_max,spend_min,spend_max,currency,ad_url,social_media_facebook,social_media_instagram,social_media_whatsapp,search_terms,Count
time,,,,,,,,,,,,,,,,,,,,,
2020-10-08,347122640042114,286305325299682,Carlos D. Mesa Gisbert,https://www.facebook.com/ads/archive/render_ad...,La desesperaci√≥n por la derrota reactiva la gu...,NaN,NaN,NaN,2020-10-08,2020-10-14,...,999999.0,1000,1499,USD,https://www.facebook.com/ads/library/?id=34712...,facebook,instagram,NaN,286305325299682,1
2020-10-08,396751911317870,286305325299682,Carlos D. Mesa Gisbert,https://www.facebook.com/ads/archive/render_ad...,No hay posibilidad de acercamiento con el MAS ...,NaN,NaN,NaN,2020-10-08,2020-10-14,...,NaN,1000,1499,USD,https://www.facebook.com/ads/library/?id=39675...,facebook,instagram,NaN,286305325299682,1
2020-10-07,3551304328266928,286305325299682,Carlos D. Mesa Gisbert,https://www.facebook.com/ads/archive/render_ad...,En Comunidad Ciudadana tenemos soluciones para...,NaN,NaN,NaN,2020-10-07,2020-10-14,...,349999.0,700,799,USD,https://www.facebook.com/ads/library/?id=35513...,facebook,instagram,NaN,286305325299682,1
2020-10-07,973809723096719,286305325299682,Carlos D. Mesa Gisbert,https://www.facebook.com/ads/archive/render_ad...,En Comunidad Ciudadana tenemos soluciones para...,NaN,NaN,NaN,2020-10-07,2020-10-14,...,499999.0,700,799,USD,https://www.facebook.com/ads/library/?id=97380...,facebook,instagram,NaN,286305325299682,1
2020-10-07,344744226739733,286305325299682,Carlos D. Mesa Gisbert,https://www.facebook.com/ads/archive/render_ad...,En Comunidad Ciudadana tenemos soluciones para...,NaN,NaN,NaN,2020-10-07,2020-10-14,...,349999.0,600,699,USD,https://www.facebook.com/ads/library/?id=34474...,facebook,instagram,NaN,286305325299682,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-26,339687234000280,112455460599883,Lucho x mi pa√≠s,https://www.facebook.com/ads/archive/render_ad...,"Propuestas reales, no cuentos. Luis Arce s√≠ pi...",NaN,NaN,Seremos la capital mundial del litio.,2020-09-26,2020-09-29,...,19999.0,100,199,BOB,https://www.facebook.com/ads/library/?id=33968...,facebook,instagram,NaN,112455460599883,1
2020-09-26,2812966725589795,112455460599883,Lucho x mi pa√≠s,https://www.facebook.com/ads/archive/render_ad...,üí• Bolivia producir√° diesel verde en el Gobiern...,NaN,NaN,NaN,2020-09-26,2020-09-29,...,19999.0,100,199,BOB,https://www.facebook.com/ads/library/?id=28129...,facebook,NaN,NaN,112455460599883,1
2020-09-26,620082085323629,112455460599883,Lucho x mi pa√≠s,https://www.facebook.com/ads/archive/render_ad...,El presidente que quieren los j√≥venes de Santa...,NaN,NaN,NaN,2020-09-26,2020-09-28,...,14999.0,100,199,BOB,https://www.facebook.com/ads/library/?id=62008...,NaN,instagram,NaN,112455460599883,1
2020-09-26,335836624337967,112455460599883,Lucho x mi pa√≠s,https://www.facebook.com/ads/archive/render_ad...,El presidente que quieren los joÃÅvenes de Sant...,NaN,NaN,NaN,2020-09-26,2020-09-28,...,34999.0,200,299,BOB,https://www.facebook.com/ads/library/?id=33583...,facebook,NaN,NaN,112455460599883,1
2020-09-21,328420994905277,112455460599883,Lucho x mi pa√≠s,https://www.facebook.com/ads/archive/render_ad...,Necesitamos estabilidad para vivir nuestras vi...,instagram.com,"0 Followers, 0 Following, 12 Posts - See Insta...",Lucho Arce por Bolivia (@luchoxmipais) ‚Ä¢ Insta...,2020-09-21,2020-09-23,...,999.0,0,99,BOB,https://www.facebook.com/ads/library/?id=32842...,NaN,instagram,NaN,112455460599883,1

In [34]:
    df = df_timed_splited
    df_cc = df[df["page_name"] == "Carlos D. Mesa Gisbert"]
    df_mas = df[df["page_name"] == "Lucho x mi pa√≠s"]
    df_camacho = df[df["page_name"] == "Luis Fernando Camacho"]

    df_cc_t = df_cc[["Count"]].resample('D').sum()
    df_cc_t.loc[:, "Candidato"] = "Carlos D. Mesa Gisbert"

    df_mas_t = df_mas[["Count"]].resample('D').sum()
    #df_mas_t.loc[:, "Candidato"] = "Lucho x mi pa√≠s"
    df_mas_t

            Count
time
2020-09-21      1
2020-09-22      0
2020-09-23      0
2020-09-24      0
2020-09-25      0
2020-09-26      5
2020-09-27      0
2020-09-28      0
2020-09-29      0
2020-09-30      1
2020-10-01      8
2020-10-02      3
2020-10-03      1
2020-10-04      2
2020-10-05      0
2020-10-06      8
2020-10-07      4
2020-10-08      1
2020-10-09      2
2020-10-10      2
2020-10-11      5
2020-10-12      2
2020-10-13      7
2020-10-14      6
2020-10-15      3
2020-10-16      7
2020-10-17      4
2020-10-18      1

In [35]:
df_aux_0 = df_timed_splited.groupby(["page_name"]).agg({"Count": np.sum})
df_aux_0['COLORS'] = ['#003f5c', '#58508d', '#bc5090', '#ff6361', '#ffa600']
df_aux_0

                            Count   COLORS
page_name
Carlos D. Mesa Gisbert        214  #003f5c
Gustavo Pedraza Merida        106  #58508d
Jorge Tuto Quiroga Ramirez     99  #bc5090
Lucho x mi pa√≠s                73  #ff6361
Luis Fernando Camacho          28  #ffa600

In [42]:

def f_parse_currency(x, col):
        currency = x["currency"]
        if currency == "BOB":
            return int(float(x[col]) / 6.96)
        else:
            return x[col]

df = df_timed_splited
df.loc[:, "spend_min_USD"] = df.apply(
        lambda x: f_parse_currency(x, "spend_min"), axis=1)
df.loc[:, "spend_max_USD"] = df.apply(
        lambda x: f_parse_currency(x, "spend_max"), axis=1)

df_aux_2 = df.groupby(["page_name"]).agg({"spend_min_USD": np.sum})
df_aux_2['Count'] = df.groupby(["page_name"]).agg({"Count": np.sum})
df_aux_2['spend_max_USD'] = df.groupby(["page_name"]).agg({"spend_max_USD": np.sum})
df_aux_2.reset_index(inplace=True)

df_aux_2

                    page_name  spend_min_USD  Count  spend_max_USD
0      Carlos D. Mesa Gisbert          86300    214         121886
1      Gustavo Pedraza Merida           1589    106           3249
2  Jorge Tuto Quiroga Ramirez          16100     99          26701
3             Lucho x mi pa√≠s          12157     73          14768
4       Luis Fernando Camacho          12600     28          17372

In [43]:
df = df_timed_splited

df_aux_1 = df.groupby(["page_name",
                           "funding_entity"]).agg({"Count": np.sum})

df_aux_1

                                                         Count
page_name                  funding_entity
Carlos D. Mesa Gisbert     Con√©ctica Ltda                  122
                           FRI                              92
Gustavo Pedraza Merida     Gustavo Pedraza Merida          106
Jorge Tuto Quiroga Ramirez SIN INFORMACION                   2
                           Samuel Alberto Jaldin Vargas     97
Lucho x mi pa√≠s            Jaime Antonio Jadue Aramayo      59
                           Rodrigo Torreblanca Vargas       13
                           SIN INFORMACION                   1
Luis Fernando Camacho      Luis Fernando Camacho Vaca       28